

body{
    text-transform: capitalize;
}

.shopfrmt {
    text-transform: capitalize;

}






.img-fluid {
    height: 170px;
    object-fit: contain;
    width: auto;
}

.card-img-top{
    height: 170px;
    object-fit: contain;
    width: auto;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec {
    margin: 5%;
}

.card-img-top {
    object-fit: fill;
    height: 210px;
    /* Adjust the desired height */
}

.custom-button {
    margin-top: 10px;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #25a569;
    color: #fff;
    border: none;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 50px;
    transition: box-shadow 5s ease;
}

.custom-button-back {
    margin-top: 10px;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #25a569;
    border-radius: 50px;
    color: #fff;
    border: none;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: box-shadow 5s ease;

}


.backDiv {
    margin-left: 35px;
}


.custom-button:hover {
    background-color: #176440;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


  
@media (max-width: 768px) {
.header-container {
    flex-direction: column;
}
}
