body {
  background-color: #f6f9f6;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 20px;
  padding: 0px;
}

.head_main {
  margin: 0px;
  padding: 0px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(16, 187, 16);
}

.header_text {
  font-size: 30px;
  padding-left: 10px;
}

.header_nav-items {
  display: flex;
  gap: 25px;
  align-items: center;
  padding-right: 10px;
}

.header_nav-item a {
  color: #ffa500;
  text-decoration: none;
  font-size: 20px;
}

.header_nav-item:hover a {
  color: #4b58eb;
  text-decoration: underline;
}


main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tool {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
  margin: 10px;
  padding: 20px;
  width: calc(33.33% - 20px);
}

.tool h2 {
  font-size: 24px;
  margin: 0;
}

.tool p {
  margin: 10px 0 0 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}