<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css" class="stylesheet">
</head>
<body>
    <div class="heading">
        <h1>About Us</h1>
        <p>
            <h2>Revolutionizing Farming With Innovative Technology Solutions
            </h2>
            <h2>A Helping Hand For Farmers &#129309</h2>
        </p>
    </div>
    <div class="container">
        <section class="about">
            <!-- <div class="about-image">
                <img src="farm2.jpg">
            </div> -->
            <div class="about-content">
                <h2>AGRIHELP - A Comprehensive Online Platform for Farmers</h2>
                <p>
                    AGRIHELP is a one-stop solution for farmers that provides them with all the necessary information and services required for efficient and sustainable agriculture. This online platform offers a range of features, including weather information, pest control, soil analysis, farming tools, and services, all in one place.
                </p>
                <p>
                    <!-- Space To Add information about Features -->
                </p>
                
            </div>
        </section>
        <br>

        <div class="team"><h2>Contact</h2>
        <br>
            <h3>Siddhant Dewangan</h3>
            <h4>&#x2022<a href="siddhantd37@gmail.com">E-mail</a></h4>
            <h4>&#x2022<a href="https://github.com/sidd-beast25">Github</a></h4>
        <br>
        <!-- Vedant And Rajyavardhan update The Details -->
        <h3>Vedant Sahu</h3>
            <h4>&#x2022<a href="siddhantd37@gmail.com">E-mail</a></h4>
            <h4>&#x2022<a href="https://github.com/sidd-beast25">Github</a></h4>
        <br>
        <h3>Rajyavardhan Bithale</h3>
            <h4>&#x2022<a href="siddhantd37@gmail.com">E-mail</a></h4>
            <h4>&#x2022<a href="https://github.com/sidd-beast25">Github</a></h4>
        <br>
        </div>
    </div>
</body>
</html>