<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <!-- <h1 class="text-base font-semibold text-green-600">404</h1> -->
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">You Are Offline</h1>
      <br>
      <h2 class="mt-6 text-2xl font-bold leading-7 text-gray-600">Wi-Fi And Mobile Data Are Unavailable.</h2>
      <h2 class="mt-6 text-2xl font-bold leading-7 text-gray-600">The Page Can be Loaded Once The Device Connects To A Network.</h2>

      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Retry</a>
      </div>
    </div>

  </main>
  <div class="grid min-h-full place-items-bottom-left bg-white px-6 py-24 sm:py-32 lg:px-8">
    <h3 class="mt-6 text-2xl leading-7 text-gray-400">ERR_INTERNET_DISCONNECTED</h3> 
  </div>
  
</body>
</html>