<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pest.css" class="stylesheet">
</head>
<body>
    <div class="container">
        <div class="group">
            <list class="list">
                <div class="top"><img src="bollworm.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Bollworm" class="lable">BOLLWORM</a>
                    <p class="desc">Bollworm larva on boll. The cotton bollworm (a.k.a. corn earworm) is a serious pest in the southern cotton growing areas. In Kansas cotton, infestations are sometimes observed, although damage has been limited even when high infestations have developed in corn and grain sorghum.</p>
                </div>
            </list>
            <list class="list">
                <div class="top"><img src="Aphids.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Aphid" class="lable">APHIDS</a> 
                    <p class="desc">Aphids have soft pear-shaped bodies with long legs and antennae and may be green, yellow, brown, red, or black depending on the species and the plants they feed on. A few species appear waxy or woolly due to the secretion of a waxy white or gray substance over their body surface.</p>
                </div>
            </list>
            <list class="list">
                <div class="top"><img src="whiteflies.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Whitefly" class="lable">WHITEFLIES</a>
                    <p class="desc">Whiteflies are tiny, sap-sucking insects that may become abundant in vegetable and ornamental plantings, especially during warm weather. They excrete sticky honeydew and cause yellowing or death of leaves. Outbreaks often occur when the natural biological control is disrupted.</p>
                </div> 
            </list>
            <list class="list">
                <div class="top"><img src="grasshoppers.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Grasshopper" class="lable">GRASSHOPPERS</a>
                    
                    <p class="desc">Grasshoppers are an important source of food for many species of grassland birds. Recognizing pest from non-pest species can help in managing those grasshopper populations that are a potential threat to a crop while not harming non-pest species, which can have a valuable ecological role.</p>
                </div>
            </list>
            <list class="list">
                <div class="top"><img src="leafhoppers.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Leafhopper" class="lable">LEAFHOPPER</a>
                    <p class="desc">Leafhoppers are commonly brown, gray, green, or yellow overall or a mottled mix of coloration. Some species are brightly colored, while others blend with the color of their host plant(s). Leafhoppers are active insects that walk rapidly sideways or readily jump when disturbed.</p>
                </div>
            </list>
            <list class="list">
                <div class="top"><img src="Armyworm.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Fall_armyworm" class="lable">ARMYWORM</a>
                    
                    <p class="desc">Armyworms are caterpillar pests of grass pastures and cereal crops. They are the only caterpillars that growers are likely to encounter in cereal crops, although occasionally native budworm will also attack grain when underlying weed hosts dry out.</p>
                </div>
            </list>
            <list class="list">
                <div class="top"><img src="termites.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Termite" class="lable">TERMITES</a>
                    
                    <p class="desc">Termites threaten major crops, which form the basis of household nutrition in many countries such as wheat, maize, groundnut, sugarcane, yams and cassava. The most common termite species in India are Microtermes and Odontotermes</p>
                </div>
                
            </list>
            <list class="list">
                <div class="top"><img src="mites.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Mite" class="lable">MITES</a>
                    
                    <p class="desc">mites are serious pests in indoor and outdoor agricultural ecosystems and are controlled by synthetic pesticides. Pesticides adversely affect natural enemies and lead to environmental pollution, human health problems, harmful side effects, and risk of pest resistance.</p>
                </div>
                
            </list>
            <list class="list">
                <div class="top"><img src="Jassids.jpg" alt=""></div>
                <div class="center">
                    <a href="wikipedia.org/wiki/Amrasca_biguttula" class="lable">JASSIDS</a>
                    
                    <p class="desc">Jassid is a sucking pest occurring throughout the crop growing period on cotton in all the zones. The pest injects toxins into leaves while feeding which results in abnormal changes in leaves - marginal chlorosis and reddening</p>
                </div>
                
            </list>
            <list class="list">
                <div class="top"><img src="stem borers.jpg" alt=""></div>
                <div class="center">
                    <a href="https://en.wikipedia.org/wiki/Stemborer" class="lable">STEMBORERS</a>
                    
                    <p class="desc">Stem borers constitute the most widely distributed and injurious group of insect pests of cereal crops. They are commonly known to be one of the limiting factors of cereal production worldwide. They are present in field throughout the crop growing stage from seedling to maturity</p>
                    
                </div>
                
                </div>
            </list>
        </div>
    </div>
</body>
</html>