body{
    background-color: #f6f9f6;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
.container{
    margin:  20px;
    padding: 0px;
}
.head_main{
    margin: 0px;
    padding: 0px;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #10bb10;
}

.header_text{
    font-size: 30px;
    padding-left: 10px;
}

.header_nav-items{
    display: flex;
    gap: 25px;
    align-items: center;
    padding-right: 10px;
}
.header_nav-item a{
    color: #ffa500;
    text-decoration: none;
    font-size: 20px;
}.header_nav-item:hover a{
    color: #4b58eb;
    text-decoration: underline;
}

/* section 1 */
.hero{
    display: flex;
    padding-top: 40px ;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}
.main_text{
    width: 700px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.main_img img{
    width: 500px;
    height: 400px;
    
}
.main_text-heading{
    font-size: 43px;
    color: #73727a;
}
.showcase{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}
.showcase_card h3{
    color: #73727a;
    font-weight: 500;
}
.showcase_card img{
    width: 100px;
    height: 100px;
    padding-left: 8px;
}
.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
}
.footer_text{
    text-align: center;
}