<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agri_equipment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <body>
        <h2 style="background-color: #10bb10;padding: 5px; text-align: center;"> Agri_equipment seller </h2>
        
<main>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">

                <img src="https://www.mahindrafarmequipment.com/images/farmer/152265373920180402.jpg" height="250px" width="auto" alt="">
                <div class="card-body">
                  <p class="card-text"> Mahindra farm Equipment by (Mahindra Rise....)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                    <a class="btn btn-primary" href="https://www.mahindrafarmequipment.com/" role="button">     View     </a>
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://escorts.scene7.com/is/image/escorts/Powertrac-Offer2?$dm-responsive$" title="Image 2" class="home-offers-list-image" height="250px" width="auto" alt="image 2">
                <div class="card-body">
                  <p class="card-text"> Powertrac ....</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a class="btn btn-primary" href="https://www.powertracagri.com/in/en/" role="button">     View     </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://www.tractorjunction.com/assets/images/logo/TJ_LOGO_en.svg" height="250px" width="auto" alt="TractorJunction | Home">
                <div class="card-body">
                  <p class="card-text"> Tractor Junction (third party seller agri_equip)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a class="btn btn-primary" href="https://www.tractorjunction.com/" role="button">     View     </a>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://5.imimg.com/data5/SELLER/Default/2020/11/WJ/YM/VZ/55306345/eicher-agristar-7-feet-48-blades-rototiller-500x500.jpg" width="auto" height="250" class="testinggg" alt="Eicher Agristar 7 Feet 48 Blades Rototiller" data-dataimg="https://5.imimg.com/data5/SELLER/Default/2020/11/WJ/YM/VZ/55306345/eicher-agristar-7-feet-48-blades-rototiller-500x500.jpg">
                <div class="card-body">
                  <p class="card-text"> Eicher agri solution  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"> 

                        <a class="btn btn-primary" href="https://www.indiamart.com/eicher-tractors/eicher-implements-and-farm-equipments.html" role="button">     View     </a>

                     </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">

                <img src="./download (1).jpg" width="auto" height="250">
                <div class="card-body">
                  <p class="card-text"> kubota agricultural machinery India </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="https://www.kubota.co.in/" role="button">     View     </a>
                     </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                 

                <div class="card-body">
                    <img width="auto" height="250" src="https://international.sonalika.com/wp-content/uploads/2020/09/6-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Rotavator Mini Hybrid Xtra Series" loading="lazy">
                  <p class="card-text"> Sonalika agri Equipment </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a class="btn btn-primary" href="https://international.sonalika.com/implements/" role="button">     View     </a>
                    
                      </div>
                    </div>
                </div>
              </div>
            </div>
    
            
    </main>
    
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
          
      
    
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>