<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fertilizers_shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <h2 style="background-color: #10bb10;padding: 5px; text-align: center;"> fertillizer_seller's </h2>
    <main>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="./dfgov.jpg" height="250px" width="auto" alt="seedbasket logo">
                <div class="card-body">
                  <p class="card-text">Deparment of fertilizer Govt.of India</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                    <a class="btn btn-primary" href="https://www.fert.nic.in/faq" role="button">     View     </a>
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">
                <img src="./National_Fertilizers_Logo.svg.png" height="250px" width="auto" alt="seed">
                <div class="card-body">
                  <p class="card-text"> national fertilizers ltd </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a class="btn btn-primary" href="https://nationalfertilizers.com/#" role="button">     View     </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="./bighat.png" height="250px" width="auto" alt="seed">
                <div class="card-body">
                  <p class="card-text"> bighaat </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a class="btn btn-primary" href="https://www.bighaat.com/" role="button">     View     </a>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="kursi.png" height="250px" width="auto" alt="seed">
                <div class="card-body">
                  <p class="card-text"> krushikendra </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"> 

                        <a class="btn btn-primary" href="https://www.krushikendra.com/" role="button">     View     </a>

                     </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="./iffco.jpg" height="250px" width="auto" alt="seed">
                <div class="card-body">
                  <p class="card-text"> iffcobazar </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="https://www.iffcobazar.in/" role="button">     View     </a>
                     </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="./agritel.png" height="250px" width="auto" alt="seed">
                <div class="card-body">
                  <p class="card-text"> agritell </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-primary" href="https://www.agritell.com/" role="button">     View     </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
    
            
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>